.singleBlog{
    padding: 2em 0;
    overflow-y: scroll;
}

.preview .topNav{
    color: red;
}

.preview .topNav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin: 0 0 1em 0; */
}

.preview .topNav button{
    background: transparent;
    border: none;
    color: orange;
    padding: 0 1em;
}

.preview .topNav p{
    background: transparent;
    border: none;
    color: orange;
    padding: 0 1em;
    font-size: 1.5em;
}

.preview .topNav span {
    transform: scale(1.5);
    background: transparent;
    border: none;
    color: orange;
}

.preview .topNav button span:hover{
    opacity: 1;
    animation: style .5s linear;
}

@keyframes style{
    0%{
        transform:scale(1.5);
    }
    50%{
        transform:scale(2);
    }
    100%{
        transform:scale(1.5);
    }
}