body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

a{
    text-decoration: none;
    color: #000;
}

button{
    user-select: none;
    cursor: pointer;
}

.app{
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(20,1fr);
    grid-template-columns: repeat(1,1fr);
    overflow: hidden;
}

.preview,
.editContainer,
.home{
    grid-row: 2/21;
}